#!/usr/bin/make -f

%:
	dh $@

override_dh_clean:
	rm -rf debian/test/vendor .phpdoc
	dh_clean

override_dh_prep:
	mkdir -p docs
	rm -f docs/* -r
	phpdoc -d src --title "Vitex Software's Ease Html"
	mkdir -p docs
	mv .phpdoc/build/* docs
	dh_prep


override_dh_auto_test:
	composer update
	vendor/bin/phpunit --bootstrap tests/Bootstrap.php --configuration phpunit.xml tests/src/
#	dh_auto_test

override_dh_install:
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  debian/composer.json |sponge debian/composer.json
	dh_install
	echo "require_once 'Mail.php';"  >> debian/php-vitexsoftware-ease-html/usr/share/php/EaseHtml/HtmlMailer.php
	echo "require_once 'Mail/mime.php';" >> debian/php-vitexsoftware-ease-html/usr/share/php/EaseHtml/HtmlMailer.php

